<%+header%>
<div class="cbi-map" style="flex:1;width:100%;height:100%;">
    <iframe id="logIframe" style="flex:1;width:100%;height:100%;border:none;"></iframe>
</div>

<script>
window.onload = function() {
    function updateLogUrl(data) {
        const logIframe = document.getElementById('logIframe');
        if (data.running && data.token && data.port) {
            const url = window.location.protocol + "//" + window.location.hostname + ":"
            const logUrl = url + data.port + '/napcat?token=' + data.token + '&_=' + Date.now();
            if (logIframe.src !== logUrl) {
                logIframe.src = logUrl;
                console.log('更新日志地址：', logUrl);
            }
        } else {
            logIframe.src = 'about:blank';
            console.warn('程序未运行，跳过日志地址');
        }
    }

    function GetStatus() {
        fetch(L.url("admin", "services", "<%=Name%>_status"), {
            method: 'GET',
            headers: {'Content-Type': 'application/json'},
        })
        .then(ret => ret.ok && ret.json())
        .then(data => updateLogUrl(data))
        .catch(err => console.error("获取配置失败", err));
    }
    GetStatus();
};
</script>
<%+footer%>